html{

    font-size: 2rem;
    font-family: 'Franklin Gothic Light', Arial, Helvetica, sans-serif;
    background: linear-gradient(260deg, #a3332f, rgb(0, 0, 0))

}

header{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 1.5%;
}

main{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align:center;
    flex-wrap: wrap;
    margin: 0 300px 50px 300px;
}


.card {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    max-height: 650px;
margin-top: 50px;
padding: 10px 10px 20px 10px;
box-shadow: 0 3px 10px rgba(0,0,0,0.1);
transition: transform 0.2s ease-in;

}

.card:hover{
    transform: translateY(-15px);
}

.poster{

    max-width: 360px;
    max-height: 546px;
    margin: 10px 10px 10px 10px;
}


.networkIMG  {
    margin-top: 20px;
    max-width: 75px;
    max-height: 30px;
}

header img {
    max-width: 75px;
    max-height: 75px;
}

h1 {

    color: white;
    font-size: 1.5rem;
    text-align: center;
}

h4{

    font-weight: 200;
    color: white;
    margin: 10px 0 0 0;
    font-size: .8rem;
}

h6 {
    color: rgba(255, 255, 255, 0.879);
    font-weight: lighter;
    margin: 10px;
    padding: 0;
}


@media all and (max-width: 480px){
    
    
    header {


        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
      
    }

    h1 {
        margin-top: 5px;
    }
    main{
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
        }

        .card {
            margin: 10px;
            padding: 10px;
            max-width: 280px;
        }

        header img {
            max-width: 50px;
            max-height: 50px;
        }
        .poster{
            max-width: 150px;
            max-height: 300px;
        }
        
    h1{
        font-size: 1rem;
    }
    h4{
        font-size: .5rem;
    }
}